.git
.gitmodules
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*
htmlcov

.env
.env.*
!.env.example
admin.json

data
results
locust*.csv
locust*.html

setup_homeserver/*.csv
setup_federation/*.csv
utils/failed_users_*.txt
utils/rooms*.json
utils/tokens_*.csv
utils/users*.csv
